<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Watches
            </a>
            <div class="dropdown-menu border-3" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Watches</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white mr-5" href="#" id="mens-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men's Watches
            </a>
            <div class="dropdown-menu border-3" aria-labelledby="mens-link">
                <a href="{% url 'products' %}?category=fossil_mens" class="dropdown-item">Fossil</a>
                <a href="{% url 'products' %}?category=citizen_mens" class="dropdown-item">Citizen</a>
                <a href="{% url 'products' %}?category=tommy_hilfiger_mens" class="dropdown-item">Tommy Hilfiger</a>
                <a href="{% url 'products' %}?category=garmin_mens" class="dropdown-item">Garmin</a>
                <a href="{% url 'products' %}?category=tissot_mens" class="dropdown-item">Tissot</a>
                <a href="{% url 'products' %}?category=emporio_armani_mens" class="dropdown-item">Emporio Armani</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white mr-5" href="#" id="ladies-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ladies' Watches
            </a>
            <div class="dropdown-menu border-3" aria-labelledby="ladies-link">
                <a href="{% url 'products' %}?category=fossil_ladies" class="dropdown-item">Fossil</a>
                <a href="{% url 'products' %}?category=citizen_ladies" class="dropdown-item">Citizen</a>
                <a href="{% url 'products' %}?category=tommy_hilfiger_ladies" class="dropdown-item">Tommy Hilfiger</a>
                <a href="{% url 'products' %}?category=garmin_ladies" class="dropdown-item">Garmin</a>
                <a href="{% url 'products' %}?category=tissot_ladies" class="dropdown-item">Tissot</a>
                <a href="{% url 'products' %}?category=emporio_armani_ladies" class="dropdown-item">Emporio Armani</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-white" href="#" id="outlet-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Outlet
            </a>
            <div class="dropdown-menu border-3" aria-labelledby="outlet-link">
                <a href="{% url 'products' %}?category=outlet_mens" class="dropdown-item">Outlet Mens</a>
                <a href="{% url 'products' %}?category=outlet_ladies" class="dropdown-item">Outlet Ladies</a>
            </div>
        </li>
    </ul>
</div>