{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Dials e-commerce store for wrist watches">
  <meta name="keywords"
    content="watch, wrist watch, watches for men, watches for women, smartwatch, wrist watch, fossil watch, citizen watch, garmin watch, tommy hilfiger watch, tissot watch, emporio armani watch, analog watch, chronograph, leather watch strap, stainless steel watch band">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link href="{% static 'Favicon/favicon-32x32.png' %}" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <!-- MailChimp -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">


  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/75b2c26aca.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
  </script>
  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Dials {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header class="container-fluid fixed-top">
    <div id="topnav" class="row bg-dark pt-lg-2 d-none d-lg-flex">
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <h2 class="main-logo logo-font text-white my-0">Dials</h2>
        </a>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <form method="GET" action="{% url 'products' %}">
          <div class="input-group w-100">
            <input class="form-control border border-white rounded-3" type="text" name="q"
              placeholder="Search our site">
            <div class="input-group-append">
              <button class="form-control btn btn-black border border-white rounded-3" type="submit">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item">
            <div class="text-center">
              <a class="logo-font nav-link text-white" href="{% url 'blog' %}">Our Blog</a>
            </div>
          </li>
          <li class="list-inline-item dropdown">
            <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <div><i class="far fa-user fa-lg"></i></div>
                <p class="my-0">My Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <a class="{% if grand_total %}bag-icon-col text-success font-weight-bold{% else %}text-white{% endif %} nav-link"
              href="{% url 'view_bag' %}">
              <div class="text-center">
                <div><i class="fas fa-cart-arrow-down fa-lg"></i></div>
                <p class="my-0">
                  {% if grand_total %}
                  {{ grand_total|floatformat:2 }}€
                  {% else %}
                  0.00€
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row bg-dark">
      <nav class="navbar navbar-expand-lg navbar-dark w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
          aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% include 'includes/mobile-top-header.html' %}
        {% include 'includes/main-nav.html' %}
      </nav>
    </div>
  </header>

  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <footer class="bg-dark text-center text-white mt-5">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/"
          role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div id="mc_embed_signup bg-dark">
                <form
                  action="https://herokuapp.us18.list-manage.com/subscribe/post?u=c1b8a1232b644c704ea454c2a&amp;id=36070e00d7&amp;f_id=00a123e7f0"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                  target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <h2 class="text-white">Subscribe</h2>
                    <div class="mc-field-group">
                      <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                      </label>
                      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                      <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                    <div id="mce-responses" class="clear foot">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                        name="b_c1b8a1232b644c704ea454c2a_36070e00d7" tabindex="-1" value=""></div>
                    <div class="optionalParent">
                      <div class="clear foot">
                        <p class="brandingLogo"><a href="http://eepurl.com/h-GwAH"
                            title="Mailchimp - email marketing made easy and fun"><img
                              src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a>
                        </p>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
    </div>
    <!-- Grid container -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Dials Watches 2022
    </div>

  </footer>
  <!-- Footer -->
  {% block postloadjs %}
  <script type="text/javascript">
    $('.toast').toast('show');
  </script>

  <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script>
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'ADDRESS';
      ftypes[3] = 'address';
      fnames[4] = 'PHONE';
      ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY';
      ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
  {% endblock %}

</body>

</html>